<nz-alert
nzType="success"
*ngIf="alertSucc"
nzMessage="Success"
nzDescription="Your promotion is sent!"
nzShowIcon
>
</nz-alert>
<br>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
   <br>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="text">Write your promotion </nz-form-label>
        <nz-form-control class="ime" [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
          <input nz-input formControlName="text" id="text" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="expireDate" nzRequired>
          <span>Expire date:(YYYY-mm-DD)</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input date!">
          <input nz-input id="expireDate" formControlName="expireDate" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <br>
        <button class="labela" nz-button nzType="primary" nzGhost>Create promotion</button>
      </nz-form-control>
    </nz-form-item>
  </form>
