<nz-table #basicTable [nzData]="pharmacies">
    <thead>
      <tr>
        <th>Name</th>
        <th>About</th>
        <th>Address</th>
        <th>Rating</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pharmacy of pharmacies">
        <td>{{ pharmacy.name }}</td>
        <td>{{ pharmacy.about }}</td>
        <td>{{ pharmacy.address }}</td>
        <td>{{ pharmacy.rating.toFixed(2) }}</td>
        <td>
          <a *ngIf="isSystemAdmin" (click)="createAdmin(pharmacy.id)">Create admin</a>
          <a *ngIf="isPatient" (click)="viewProfile(pharmacy.id)">View profile</a>
        </td>
      </tr>
    </tbody>
  </nz-table> 