<nz-table #basicTable [nzData]="appointments">
    <thead>
      <tr>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Pharmacist first name</th>
        <th>Pharmacist last name</th>
        <th>Pharmacy</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.dateExamination[2]}}.{{appointment.dateExamination[1]}}.{{appointment.dateExamination[0]}}.</td>
        <td>{{ appointment.startTimeExamination[0]}}:{{appointment.startTimeExamination[1]}}0</td>
        <td>{{ appointment.endTimeExamination[0]}}:{{appointment.endTimeExamination[1]}}0</td>
        <td>{{ appointment.shiftPharmacistResponse.pharmacistResponse.firstName}} </td>
        <td>{{ appointment.shiftPharmacistResponse.pharmacistResponse.lastName}}</td>
        <td>{{ appointment.shiftPharmacistResponse.pharmacyResponse.name}}</td>
        <td>{{ appointment.price}} $</td>
        <td>
            <a (click)="cancelReservation(appointment.id)"><b>Cancel reservation</b></a>
        </td>   
      </tr>
    </tbody>
  </nz-table> 