.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

.navbar-brand{
    text-emphasis-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.myc {
    margin-top: 100px;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }