<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <br>
     <!--PRICE-->
     <nz-form-item>
       <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price">Price</nz-form-label>
       <nz-form-control [nzSm]="14" [nzXs]="24">
         <input nz-input id="price" formControlName="price"/>
       </nz-form-control>
     </nz-form-item>
     <!--DELIVERY DATE-->
     <nz-form-item>
       <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="deliveryDate">Delivery date(YYYY-mm-DD)</nz-form-label>
       <nz-form-control [nzSm]="14" [nzXs]="24">
         <input nz-input id="deliveryDate" formControlName="deliveryDate"/>
       </nz-form-control>
     </nz-form-item>
     <!--Update-->
     <nz-form-item nz-row class="create-area">
       <nz-form-control [nzSpan]="14" [nzOffset]="6">
         <button nz-button nzType="primary" nzGhost>Update</button>
       </nz-form-control>
     </nz-form-item>
   </form>