<label class="labela">You chose medicament: </label>
<label class="ime"><b>{{pharmacyMedicament.medicament.name}}</b></label>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
   <br>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="start">Date to pick</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
        <input nz-input formControlName="dateToPick" id="dateToPick" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" nzGhost>Create reservation</button>
      </nz-form-control>
    </nz-form-item>
  </form>