<nz-alert
nzType="success"
*ngIf="medicamentAdd"
nzMessage="Success Tips"
nzDescription="Successfully added medicament!"
nzShowIcon
>
</nz-alert>
<label class="labela">You chose medicament:   </label>
<label class="ime"><b>{{medicament.name}}</b></label>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
   <br>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="quantity">Quantity</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
        <input nz-input formControlName="quantity" id="quantity" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" nzGhost>Add medicament</button>
      </nz-form-control>
    </nz-form-item>
  </form>

