<nz-layout class="layout">
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">

        <li nz-menu-item *ngIf="isSupplier" (click)="supplierProfile()">Change your profile </li>
        <li nz-menu-item *ngIf="isSupplier" (click)="changePasswordSupplier()">Change your password </li>

        <li nz-menu-item *ngIf="isSystemAdmin" (click)="systemAdminProfile()">Change your profile </li>
        <li nz-menu-item *ngIf="isSystemAdmin" (click)="changePasswordSystemAdmin()">Change your password </li>

        <li nz-menu-item *ngIf="isDermatologist" (click)="dermatologistProfile()">Change your profile </li>
        <li nz-menu-item *ngIf="isDermatologist" (click)="changePasswordDermatologist()">Change your password </li>

        <li nz-menu-item *ngIf="isPharmacist" (click)="pharmacistProfile()">Change your profile </li>
        <li nz-menu-item *ngIf="isPharmacist" (click)="changePasswordPharmacist()">Change your password </li>

        <li nz-menu-item *ngIf="isPatient" (click)="patientProfile()">Change your profile </li>
        <li nz-menu-item *ngIf="isPatient" (click)="changePasswordPatient()">Change your password </li>
        <li nz-menu-item *ngIf="isPatient" (click)="addAllergy()">Add allergy </li>
        <li nz-menu-item *ngIf="isPatient" (click)="consultation()">Reserve consultation </li>
        <li nz-menu-item *ngIf="isPatient" (click)="listPharmacies()">All pharmacies </li>
        <li nz-submenu *ngIf="isPatient"  nzTitle="Reservation history">
          <ul>
            <li nz-submenu  nzTitle="Dermatologists">
              <ul>
                <li nz-menu-item (click)="activeDermatologistApp()">Active</li>
                <li nz-menu-item (click)="droppedDermatologistApp()" >Dropped</li>
              </ul>
            </li>
            <li nz-submenu  nzTitle="Pharmacists">
              <ul>
                <li nz-menu-item  (click)="activePharmacistApp()" >Active</li>
                <li nz-menu-item (click)="droppedPharmacistApp()" >Dropped</li>
              </ul>
            </li>
            <li nz-submenu nzTitle="Medicaments">
              <ul>
                <li nz-menu-item  (click)="activeMedReservations()">Active</li>
                <li nz-menu-item  (click)="droppedMedReservations()">Dropped</li>
              </ul>
            </li>
          </ul> 
        </li>
        <li nz-menu-item *ngIf="isPatient" (click)="subscribedPharmacies()" >Subscribed pharmacies</li>
        <li nz-menu-item *ngIf="isPatient" (click)="searchMeds()">Search medicaments </li>
       


        <li nz-submenu *ngIf="isPharmacyAdmin"  nzTitle="Update">
          <ul>
            <li nz-menu-item  (click)="updatePharmacy()">Update pharmacy </li>
        <li nz-menu-item (click)="pharmacyAdminProfile()">Update profile </li>
        <li nz-menu-item (click)="changePasswordPharmacyAdmin()">Change password</li>
          </ul>
        </li>
        <li nz-submenu *ngIf="isPharmacyAdmin"  nzTitle="Create">
          <ul>
            <li nz-menu-item (click)="createFreeAppointment()">Available appointment</li>
            <li nz-menu-item (click)="createPurchaseOrder()" >Purchase order</li>
            <li nz-menu-item (click)="createPromotion()">Promotions</li>
          </ul>
        </li>
        <li nz-menu-item *ngIf="isPharmacyAdmin">All purchase orders</li>
        <li nz-menu-item *ngIf="isPharmacyAdmin">All inquiries</li>
        <li nz-menu-item *ngIf="isPharmacyAdmin" (click)="editDermatologists()">Edit dermatologists</li>
        <li nz-menu-item *ngIf="isPharmacyAdmin" (click)="complaints()">All complaints</li>
        <li nz-menu-item *ngIf="isPharmacyAdmin" (click)="editMedicaments()">Edit medicaments </li>
        <li nz-menu-item *ngIf="isPharmacyAdmin" (click)="editPharmacists()">Edit pharmacists </li>
        <li nz-menu-item *ngIf="isPharmacyAdmin" (click)="bussinessReport()">Bussiness report</li>
        <li nz-menu-item *ngIf="isPharmacyAdmin" (click)="pricelists()">Pricelists </li>



        <li nz-menu-item *ngIf="isSystemAdmin" (click)="registrationRequests()">Registration requests</li>
        <li nz-submenu *ngIf="isSystemAdmin"  nzTitle="Add employees">
          <ul>
            <li nz-menu-item  (click)="addDermatologist()">Add dermatologist</li>
            <li nz-menu-item  (click)="addSupplier()">Add supplier</li>
            <li nz-menu-item  (click)="addSystemAdmin()">Add system admin</li>
          </ul>
        </li>
        <li nz-menu-item *ngIf="isSystemAdmin" (click)="allPharmacies()">All pharmacies</li>
        <li nz-menu-item *ngIf="isSystemAdmin" (click)="addPharmacy()">Add pharmacy</li>
        <li nz-menu-item *ngIf="isSystemAdmin" (click)="addMedicament()">Add medicament</li>
        <li nz-menu-item *ngIf="isSystemAdmin" >All complaints</li>
        <li nz-menu-item *ngIf="isSystemAdmin">Define loyalty program</li>
        <li nz-menu-item (click)="clearStorage()">Logout</li>
      </ul>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>