<nz-layout class="layout">
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
    
        <li nz-menu-item *ngIf="isPatient" (click)="patientProfile()">Change your profile </li>
        <li nz-menu-item *ngIf="isPatient" (click)="addAllergy()">Add allergy </li>
        <li nz-menu-item *ngIf="isSystemAdmin" (click)="registrationRequests()">Registration requests</li>
        <li nz-menu-item (click)="clearStorage()">Logout</li>
      </ul>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>