<nz-alert nzType="error" *ngIf="!check" nzMessage="Error" nzDescription="You can not cancel this reservation!" nzShowIcon> </nz-alert>

<nz-table #basicTable [nzData]="reservations">
    <thead>
      <tr>
        <th>Name</th>
        <th>Pharmacy name</th>
        <th>Final pick date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.pharmacyMedicament.medicament.name }}</td>
        <td>{{reservation.pharmacyMedicament.pharmacy.name}}</td>
        <td>{{ reservation.dateToPick[2]}}.{{reservation.dateToPick[1]}}.{{reservation.dateToPick[0]}}.</td>
        <td>{{reservation.medicamentReservationStatus}}</td>
        <td>
          <a (click)="cancel(reservation.id)"><b>Cancel reservation</b></a>
        </td>
      </tr>
    </tbody>
  </nz-table> 