<nz-alert
nzType="success"
*ngIf="reserveDermatologist"
nzMessage="Success"
nzDescription="You made reservation successfully! Check your email!"
nzShowIcon
>
</nz-alert>
<nz-alert
nzType="success"
*ngIf="alertic"
nzMessage="Success"
nzDescription="Successfully subscribed!"
nzShowIcon
>
</nz-alert>
<h1 class="name">{{pharmacy.name}}</h1>
<label class="nzm"><b>Address:</b> </label>
<br>
<label class="nzm">-> {{pharmacy.address}} </label>
<br>
<label class="nzm"><b>About: </b></label>
<br>
<label class="nzm">-> {{pharmacy.about}} </label>
<br>
<label class="nzm"><b>Rating: </b></label>
<br>
<label class="nzm">-> {{pharmacy.rating.toFixed(2)}} </label>
<br>
<br>
<button nz-button nzType="primary" *ngIf="isPatient" class="dugmence" (click)="subscribe()" nzGhost>Subscribe on actions and promotions!</button>
<br>
<br>
<label class="nzm"><b>Pharmacists in this pharmacy:</b></label>
<nz-table #basicTable [nzData]="pharmacists">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Number</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pharmacist of pharmacists">
        <td>{{ pharmacist.firstName }}</td>
        <td>{{ pharmacist.lastName }}</td>
        <td>{{ pharmacist.number }}</td>
        <td>{{ pharmacist.price}}$</td>
      </tr>
    </tbody>
  </nz-table> 
  <br>
  <label class="nzm"><b>Available medicaments in this pharmacy:</b></label>
<nz-table #basicTable [nzData]="pharmacyMedicaments">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Contraindications</th>
        <th>Ingredients</th>
        <th>Shape</th>
        <th>Manufacturer</th>
        <th>Issuance</th>
        <th *ngIf="isPatient">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pharmacyMedicament of pharmacyMedicaments">
        <td>{{ pharmacyMedicament.medicament.name }}</td>
        <td>{{ pharmacyMedicament.medicament.type }}</td>
        <td>{{ pharmacyMedicament.medicament.contraindications }}</td>
        <td>{{ pharmacyMedicament.medicament.ingredients }}</td>
        <td>{{ pharmacyMedicament.medicament.shape }}</td>
        <td>{{ pharmacyMedicament.medicament.manufacturer }}</td>
        <td>{{ pharmacyMedicament.medicament.issuance }}</td>
        <td><a *ngIf="isPatient" (click)="reserveMedicament(pharmacyMedicament.id)"><b>Reserve</b></a></td>
      </tr>
    </tbody>
  </nz-table> 
<br>
<label class="nzm"><b>Dermatologists in this pharmacy:</b></label>
<nz-table #basicTable [nzData]="dermatologists">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dermatologist of dermatologists">
        <td>{{ dermatologist.firstName }}</td>
        <td>{{ dermatologist.lastName }}</td>
        <td>{{ dermatologist.number }}</td>
      </tr>
    </tbody>
  </nz-table> 
  <br>
<label class="nzm"><b>Available appointments:</b></label>
<nz-table #basicTable [nzData]="appointments">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Date</th>
      <th>Appointment start</th>
      <th>Appointment end</th>
      <th>Price</th>
      <th *ngIf="isPatient">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{ appointment.dermatologist.firstName }}</td>
      <td>{{ appointment.dermatologist.lastName }}</td>
      <td>{{appointment.dateExamination[2]}}.{{appointment.dateExamination[1]}}.{{appointment.dateExamination[0]}}.</td>
      <td>{{appointment.startTimeExamination[0]}}:{{appointment.startTimeExamination[1]}}0</td>
      <td>{{appointment.endTimeExamination[0]}}:{{appointment.endTimeExamination[1]}}0</td>
      <td>{{ appointment.price }} $</td>
      <td><a *ngIf="isPatient" (click)="reserveDermatologistAppointment(appointment.id)"><b>Reserve</b></a></td>
    </tr>
  </tbody>
</nz-table> 

  