<nz-alert nzType="warning" *ngIf="alreadyHere" nzMessage="Warning" nzDescription="This medicament is already in your pharmacy!" nzShowIcon> </nz-alert>
<nz-table #basicTable [nzData]="medicaments">
    <thead>
      <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Contraindications</th>
          <th>Ingredients</th>
          <th>Code</th>
          <th>Shape</th>
          <th>Replacement</th>
          <th>Manufacturer</th>
          <th>Issuance</th>
          <th>Rating</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicament of medicaments">
        <td>{{ medicament.name }}</td>
        <td>{{ medicament.type }}</td>
        <td>{{ medicament.contraindications }}</td>
        <td>{{ medicament.ingredients }}</td>
        <td>{{ medicament.code }}</td>
        <td>{{ medicament.shape }}</td>
        <td>{{ medicament.replacement }}</td>
        <td>{{ medicament.manufacturer }}</td>
        <td>{{ medicament.issuance }}</td>
        <td>{{ medicament.rating }}</td>
        <td>
          <a (click)="add(medicament)"><b>Add</b></a>
        </td>
      </tr>
    </tbody>
  </nz-table> 