<div class="content">
    <br> 
    <form  nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
          <nz-form-item>
            <nz-form-label class="formica" >Name</nz-form-label>
            <nz-form-control>
              <input class="ime" nz-input formControlName="name" placeholder="Input name"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label class="formica" >Type </nz-form-label>
              <nz-form-control>
                <input class="ime" nz-input formControlName="type" placeholder="Input type"/>
              </nz-form-control>
          </nz-form-item>
         
        <div nz-row>
          <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button class="dugmic1" nzType="primary"  (click)="search()" ><i nz-icon nzType="search"></i>Search</button>
            <button nz-button class="dugmic"  (click)="resetForm()"  >Clear</button>
          </div>
        </div>
      </form>
    </div>
    <br><br>
    <!--RESULT-->
    <nz-table #basicTable [nzData]="medicaments">
        <thead>
          <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Contraindications</th>
              <th>Ingredients</th>
              <th>Code</th>
              <th>Shape</th>
              <th>Replacement</th>
              <th>Manufacturer</th>
              <th>Issuance</th>
              <th>Rating</th>
              <th *ngIf="isPatient">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicament of medicaments">
            <td>{{ medicament.name }}</td>
            <td>{{ medicament.type }}</td>
            <td>{{ medicament.contraindications }}</td>
            <td>{{ medicament.ingredients }}</td>
            <td>{{ medicament.code }}</td>
            <td>{{ medicament.shape }}</td>
            <td>{{ medicament.replacement }}</td>
            <td>{{ medicament.manufacturer }}</td>
            <td>{{ medicament.issuance }}</td>
            <td>{{ medicament.rating}}</td>
            <a *ngIf="isPatient" (click)="checkAvailability(medicament.id)"><b>Availability</b></a>
          </tr>
        </tbody>
      </nz-table> 
    
  
