<nz-table #basicTable [nzData]="reservations">
    <thead>
      <tr>
        <th>Name</th>
        <th>Pharmacy name</th>
        <th>Final pick date</th>
        <th>Rate pharmacy</th>
        <th>Rate medicament</th>
        <th>Add complaint</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations; let i = index" [attr.data-index]="i">
        <td>{{ reservation.pharmacyMedicament.medicament.name }}</td>
        <td>{{reservation.pharmacyMedicament.pharmacy.name}}</td>
        <td>{{ reservation.dateToPick[2]}}.{{reservation.dateToPick[1]}}.{{reservation.dateToPick[0]}}.</td>
        <td>
          <nz-rate [disabled]="ratingsPharmacy[i].done" [(ngModel)]="ratingsPharmacy[i].value" (click)="ratePharmacy(reservation.pharmacyMedicament.pharmacy.id, reservation.pharmacyMedicament.medicament.id )" [nzTooltips]="tooltips"></nz-rate>
        </td>
        <td>
          <nz-rate [disabled]="ratingsMedicament[i].done" [(ngModel)]="ratingsMedicament[i].value" (click)="rateMedicament(reservation.pharmacyMedicament.medicament.id)" [nzTooltips]="tooltips" ></nz-rate>
        </td>
        <td>
          <a (click)="complaint(reservation.pharmacyMedicament.pharmacy.id)">Pharmacy</a>
        </td>
      </tr>
    </tbody>
  </nz-table> 
