<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <br>
     <nz-form-item>
       <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
       <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
         <input nz-input formControlName="name" id="name" />
       </nz-form-control>
     </nz-form-item>
     <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="about">About</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
          <input nz-input formControlName="about" id="about" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Address</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
          <input nz-input formControlName="address" id="address" />
        </nz-form-control>
      </nz-form-item>
     <nz-form-item nz-row class="register-area">
       <nz-form-control [nzSpan]="14" [nzOffset]="6">
         <button nz-button nzType="primary" nzGhost>Add pharmacy</button>
       </nz-form-control>
     </nz-form-item>
   </form>