<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <br>
     <!--NAME-->
     <nz-form-item>
       <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
       <nz-form-control [nzSm]="14" [nzXs]="24">
         <input nz-input id="name" formControlName="name"/>
       </nz-form-control>
     </nz-form-item>
     <!--ABOUT-->
     <nz-form-item>
         <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="about" >About</nz-form-label>
         <nz-form-control [nzSm]="14" [nzXs]="24">
           <input nz-input id="about" formControlName="about"/>
         </nz-form-control>
     </nz-form-item>
     <!--ADDRESS-->
     <nz-form-item>
       <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" >Address</nz-form-label>
       <nz-form-control [nzSm]="14" [nzXs]="24">
         <input nz-input id="address" formControlName="address"/>
       </nz-form-control>
     </nz-form-item>
     <!--UPDATE-->
     <nz-form-item nz-row class="create-area">
       <nz-form-control [nzSpan]="14" [nzOffset]="6">
         <button nz-button nzType="primary" nzGhost>Update</button>
       </nz-form-control>
     </nz-form-item>
   </form>